<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="resourcesfooter">

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js" th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js" th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>

    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js" th:src="@{/vendors/nprogress/nprogress.js}"></script>
    <!-- Chart.js -->
    <script src="../vendors/Chart.js/dist/Chart.min.js" th:src="@{/vendors/Chart.js/dist/Chart.min.js}"></script>
    <!-- gauge.js -->
    <script src="../vendors/gauge.js/dist/gauge.min.js" th:src="@{/vendors/gauge.js/dist/gauge.min.js}"></script>
    <!-- bootstrap-progressbar -->
    <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script src="../vendors/iCheck/icheck.min.js" th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    <!-- Skycons -->
    <script src="../vendors/skycons/skycons.js" th:src="@{/vendors/skycons/skycons.js}"></script>
    <!-- Flot -->
    <script src="../vendors/Flot/jquery.flot.js" th:src="@{/vendors/Flot/jquery.flot.js}"></script>
    <script src="../vendors/Flot/jquery.flot.pie.js" th:src="@{/vendors/Flot/jquery.flot.pie.js}"></script>
    <script src="../vendors/Flot/jquery.flot.time.js" th:src="@{/vendors/Flot/jquery.flot.time.js}"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js" th:src="@{/vendors/Flot/jquery.flot.stack.js}"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js" th:src="@{/vendors/Flot/jquery.flot.resize.js}"></script>
    <!-- Flot plugins -->
    <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js" th:src="@{/vendors/flot.orderbars/js/jquery.flot.orderBars.js}"></script>
    <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js" th:src="@{/vendors/flot-spline/js/jquery.flot.spline.min.js}" ></script>
    <script src="../vendors/flot.curvedlines/curvedLines.js" th:src="@{/vendors/flot.curvedlines/curvedLines.js}"></script>
    <!-- DateJS -->
    <script src="../vendors/DateJS/build/date.js" th:src="@{/vendors/DateJS/build/date.js}"></script>
    <!-- JQVMap -->
    <script src="../vendors/jqvmap/dist/jquery.vmap.js" th:src="@{/vendors/jqvmap/dist/jquery.vmap.js}"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js" th:src="@{/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" th:src="@{/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../vendors/moment/min/moment.min.js" th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js" th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>

    <script src="../vendors/fullcalendar/dist/fullcalendar.min.js" th:src="@{/vendors/fullcalendar/dist/fullcalendar.min.js}"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js" th:src="@{/build/js/custom.min.js}"></script>



</th:block>
</html>